*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    text-align: center;
}   
main{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 92vw;
    margin: 30px auto;

    
}
.box{
    border-radius: 12px;
    border:none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    aspect-ratio: 1 / 1;
    width : 100%;
    font-size: 7vw;
    color: crimson;
    background-color:wheat;
}
.reset{
    color:black;
    background-color: cornsilk;
    padding: 10px;
    font-size: 20px;
    border-radius: 9px;
    box-sizing: 0 0 20px rgba(0,0,0,1);
}
.new{
    background-color: bisque;
    color: black;
    padding: 10px;
    border-radius: 9px;
    box-sizing: 0 0 20px rgba(0,0,0,1);
}
.new:active{
   background-color: rgb(6, 51, 51);
   transition: ease-in-out;
   transition-duration: 1s;
   padding: 30px;
}
.reset:active{
   background-color: rgba(0, 0, 0,0.5);
   transition: ease-in-out;
   transition-duration: 1s;
   padding: 30px;
}
.hide{
    color: rgb(208, 255, 196);
    font-size: 60px;

    
}
.cont{
    display: none;
}
@media(max-width: 390px){
    h1{
        font-size: 24px;
    }
    .buttons{
        width: 50vh;
        gap: 10px;
    }
    .box{
        font-size: 8vw;
    }
    .reset, .new{
        font-size: 16px;
        padding: 8px 16px;
    }
}
